/* Header */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    font-family: "Base 05", sans-serif;
}

@media (min-width: 768px) {

    /* Larger screens - revert to original flexbox layout */
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Logo */
.logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

@media (min-width: 768px) {

    /* Adjust logo font size for larger screens */
    .logo a {
        font-size: 32px;
    }
}

.nav {
    display: none;
    margin-top: 10px;
}

.nav.open {
    display: block;

}

@media (min-width: 768px) {

    .nav {
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 0;
        display: block;

    }

    .nav.open {
        position: static;

        display: flex;
        justify-content: flex-end;
    }
}

.menu-toggle {
    display: block;

    /* Display the button by default */
    @media (min-width: 768px) {
        display: none;
        /* Hide the button on larger screens */
    }
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 20px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}


.nav a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

.nav a:hover {
    color: #3d0000;
}

/* User Section */
.user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

@media (min-width: 768px) {

    /* Larger screens - revert to original flexbox layout */
    .user-section {
        flex-direction: row;
    }
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

/* User Info */
.user-infoo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-infoo img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-infoo a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

.user-infoo a:hover {
    color: #3d0000;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #060606;
    border: 1px solid #9b3e3e;
    border-radius: 4px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Dropdown Links */
.dropdown-content a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.dropdown-content a:hover {
    background-color: #1b1b1b;
}

/* Login Button */
.login-button {
    font-size: 16px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

.login-button:hover {
    color: #3d0000;
}