/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    font-family:"Base 05", sans-serif;

}

/* Logo */
.logo a {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: white;

}

/* Navigation */
.nav {
    display: flex;
}

.nav a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

.nav a:hover {
    color: #3d0000;
}

/* User Section */
.user-section {
    display: flex;
    align-items: center;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

/* User Info */
.user-infoo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-infoo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-infoo a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

.user-infoo a:hover {
    color: #3d0000;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #060606;
    border: 1px solid #9b3e3e;
    border-radius: 4px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Dropdown Links */
.dropdown-content a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.dropdown-content a:hover {
    background-color: #1b1b1b;
}

/* Login Button */
.login-button {
    font-size: 16px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

.login-button:hover {
    color: #3d0000;
}